.layout {
  flex: 1;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  gap: var(--gap-xl);
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  align-self: stretch;
}
