.container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  --correction: calc(var(--h) - 64);
  max-width: calc(var(--correction) * 16 / 18 * 1px);
  max-height: calc(1px * var(--correction) / 2);
}

.mirror .img {
  transform: scaleY(-1);
}

.img {
  transform-origin: center;
  opacity: calc(var(--opacity, 100) / 100);
  width: 100%;
}

.lanes {
  display: flex;
  position: absolute;
  inset: 0;
  --correction: calc(var(--h) - 16);
  margin: calc(var(--correction) / 32 * 1px) calc(var(--correction) / 6 * 1px);
}