.card {
  appearance: none;
  outline: 0;
  background: var(--player2-color);
  border: 1px solid lightblue;
  width: 66px;
  height: 66px;
}

.card:disabled {
  opacity: 1;
}

.card.active {
  cursor: pointer;
}

.mirror {
  background: var(--player1-color);
  border: 1px solid lightcoral;
}
