.list {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: var(--component-border-color);
  align-items: center;
  justify-content: center;
  padding: 24px;
}