.card {
  position: relative;
  width: calc(var(--scale, 1) * 370px);
  height: calc(var(--scale, 1) * 512px);
}

.card > img {
  width: 100%;
  height: 100%;
}

.main {
  position: absolute;
  inset: 0;
  opacity: 1;
  color: white;
}

.main .name {
  position: absolute;
  left: calc(var(--scale, 1) * 185px);
  top: calc(var(--scale, 1) * 22px);
  transform: translateX(-50%);
  font-size: calc(var(--scale) * 12px);
  white-space: nowrap;
}

.main .skill {
  position: absolute;
  left: calc(var(--scale, 1) * 185px);
  top: calc(var(--scale, 1) * 483px);
  font-size: calc(var(--scale) * 0.9em);
  transform: translateX(-50%);
}

.info {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--scale, 1) * 1em);
  padding: 32px;
}

.info h4 {
  font-size: calc(var(--scale, 1) * 1.5em);
}

.info p {
  margin: 0;
  padding: 0;
  white-space: pre-line;
}

.card:hover .info {
  opacity: 1;
}
