.holder {
  display: flex;
  min-height: 128px;
  min-width: 250px;
  max-width: 250px;
  position: relative;
  transform: scale(var(--lane-scale), var(--lane-scale));
  transform-origin: left center;
}

.contents {
  position: absolute;
  display: flex;
}
