.page {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.contents {
  position: absolute;
  inset: 0;
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 12px;
  overflow: hidden;
  padding: 8px;
}
