:root {
  font-family: sans-serif;
  --gap-xs: 2px;
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-xl: 16px;
  --padding-xs: 2px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-xl: 16px;
  --border-radius-xs: 4px;
  --border-radius-md: 8px;
  --border-radius-xl: 16px;
  --font-size-xs: 12px;
  --font-size-md: 16px;
  --font-size-ml: 18px;
  --font-size-xl: 24px;
  --beta-background-color: darkgray;
  --border-size-xs: 1px;
  --border-size-sm: 2px;
  --border-size-md: 2px;
  --beta-border-color: lightgray;
  --logo-font-color: white;
  --dialog-font-color: white;
  --dialog-text-shadow-color: black;
  --dialog-border-color: rgb(107, 225, 255);
  --dialog-background-color: rgba(38, 47, 51, 0.85);
  --dialog-shadow-color: rgba(0, 0, 0, 0.1);
  --dialog-header-color-gradient1: rgba(37, 121, 148, 0);
  --dialog-header-color-gradient2: rgba(37, 121, 148, 0.8);
  --dialog-header-color-gradient3: rgba(37, 121, 148, 1);
  --dialog-header-base-color1: #14669d;
  --dialog-header-base-color2: #22c4b7;
  --dialog-body-background-color: rgba(70, 82, 119, 0.72);
  --dialog-body-shadow-color: rgba(0, 0, 0, 0.1);
  --dialog-body-font-color: white;
  --button-font-color: white;
  --button-shadow-color: black;
  --button-background-color: rgba(38, 47, 51, 0.85);
  --button-active-background-color: rgb(8, 71, 99);
  --button-active-border-color: #22c4b7;
  --tab-active-background-color: rgb(8, 71, 99);
  --input-font-color: black;
  --input-background-color: white;
  --input-border-color: rgb(8, 71, 99);
  --input-border-active-color: #22c4b7;
  --fire-element-color: firebrick;
  --ice-element-color: dodgerblue;
  --wind-element-color: mediumaquamarine;
  --lightning-element-color: orange;
  --light-element-color: beige;
  --darkness-element-color: purple;

  --player1-color: indianred;
  --player2-color: royalblue;

  --hyper-link-color: cyan;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

a {
  color: var(--hyper-link-color);
}
