:root {
  font-family: sans-serif;
  --gap-xs: 2px;
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-xl: 16px;
  --padding-xs: 2px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-xl: 16px;
  --border-radius-xs: 4px;
  --border-radius-md: 8px;
  --border-radius-xl: 16px;
  --font-size-xs: 12px;
  --font-size-md: 16px;
  --font-size-ml: 18px;
  --font-size-xl: 24px;
  --beta-background-color: darkgray;
  --border-size-xs: 1px;
  --border-size-sm: 2px;
  --border-size-md: 2px;
  --beta-border-color: lightgray;
  --logo-font-color: white;
  --dialog-font-color: white;
  --dialog-text-shadow-color: black;
  --dialog-border-color: rgb(107, 225, 255);
  --dialog-background-color: rgba(38, 47, 51, 0.85);
  --dialog-shadow-color: rgba(0, 0, 0, 0.1);
  --dialog-header-color-gradient1: rgba(37, 121, 148, 0);
  --dialog-header-color-gradient2: rgba(37, 121, 148, 0.8);
  --dialog-header-color-gradient3: rgba(37, 121, 148, 1);
  --dialog-header-base-color1: #14669d;
  --dialog-header-base-color2: #22c4b7;
  --dialog-body-background-color: rgba(70, 82, 119, 0.72);
  --dialog-body-shadow-color: rgba(0, 0, 0, 0.1);
  --dialog-body-font-color: white;
  --button-font-color: white;
  --button-shadow-color: black;
  --button-background-color: rgba(38, 47, 51, 0.85);
  --button-active-background-color: rgb(8, 71, 99);
  --button-active-border-color: #22c4b7;
  --tab-active-background-color: rgb(8, 71, 99);
  --input-font-color: black;
  --input-background-color: white;
  --input-border-color: rgb(8, 71, 99);
  --input-border-active-color: #22c4b7;
  --fire-element-color: firebrick;
  --ice-element-color: dodgerblue;
  --wind-element-color: mediumaquamarine;
  --lightning-element-color: orange;
  --light-element-color: beige;
  --darkness-element-color: purple;

  --player1-color: indianred;
  --player2-color: royalblue;

  --hyper-link-color: cyan;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

a {
  color: var(--hyper-link-color);
}

h4 {
  margin: var(--padding-xs);
  padding: 0;
}

html,
body {
  color: var(--button-font-color);
}

/* HTML: <div class="loader"></div> */
.loader {
  --object-color-1: white;
  --object-color-2: rgba(255, 255, 255, 0);
  --bullet-color: red;
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background: linear-gradient(var(--object-color-1) 0 0) left,
    linear-gradient(var(--object-color-1) 0 0) right;
  background-repeat: no-repeat;
  border-right: 5px solid var(--object-color-2);
  border-left: 5px solid var(--object-color-2);
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}
.loader::before {
  content: "Loading";
}
.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: linear-gradient(
        90deg,
        var(--object-color-1) 4px,
        var(--object-color-2) 0 calc(100% - 4px),
        var(--object-color-1) 0
      )
      bottom / 22px 20px,
    linear-gradient(
        90deg,
        var(--bullet-color) 4px,
        var(--object-color-2) 0 calc(100% - 4px),
        var(--bullet-color) 0
      )
      bottom 10px left 0/22px 6px,
    linear-gradient(var(--object-color-1) 0 0) bottom 3px left 0 /22px 8px,
    linear-gradient(var(--object-color-1) 0 0) bottom 0 left 50%/8px 16px;
  background-repeat: no-repeat;
  animation: l9-1 2s infinite;
}
@keyframes l9-0 {
  0%,
  25% {
    background-size: 50% 100%;
  }
  25.1%,
  75% {
    background-size: 0 0, 50% 100%;
  }
  75.1%,
  100% {
    background-size: 0 0, 0 0;
  }
}
@keyframes l9-1 {
  25% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  25.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  50% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
}

@keyframes background-move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.line-strike-background {
  position: absolute;
  inset: 0;
  background: #0a041b;
  overflow: hidden;
}

.line-strike-background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: background-move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.line-strike-background span:nth-child(0) {
  color: #164e69;
  top: 81%;
  left: 8%;
  animation-duration: 27s;
  animation-delay: -9s;
  transform-origin: -23vw -16vh;
  box-shadow: 40vmin 0 5.448406739423867vmin currentColor;
}
.line-strike-background span:nth-child(1) {
  color: #164e69;
  top: 34%;
  left: 16%;
  animation-duration: 49s;
  animation-delay: -42s;
  transform-origin: 0vw 6vh;
  box-shadow: -40vmin 0 5.1290950493377805vmin currentColor;
}
.line-strike-background span:nth-child(2) {
  color: #164e69;
  top: 60%;
  left: 5%;
  animation-duration: 18s;
  animation-delay: -27s;
  transform-origin: 18vw 11vh;
  box-shadow: -40vmin 0 5.909941735324585vmin currentColor;
}
.line-strike-background span:nth-child(3) {
  color: #672dbe;
  top: 65%;
  left: 46%;
  animation-duration: 34s;
  animation-delay: -49s;
  transform-origin: 6vw 20vh;
  box-shadow: 40vmin 0 5.645500097779086vmin currentColor;
}
.line-strike-background span:nth-child(4) {
  color: #ffacac;
  top: 60%;
  left: 81%;
  animation-duration: 20s;
  animation-delay: -9s;
  transform-origin: 22vw 4vh;
  box-shadow: 40vmin 0 5.038662006717786vmin currentColor;
}
.line-strike-background span:nth-child(5) {
  color: #ffacac;
  top: 29%;
  left: 35%;
  animation-duration: 30s;
  animation-delay: -27s;
  transform-origin: 25vw 13vh;
  box-shadow: -40vmin 0 5.247172833850965vmin currentColor;
}
.line-strike-background span:nth-child(6) {
  color: #672dbe;
  top: 35%;
  left: 61%;
  animation-duration: 22s;
  animation-delay: -44s;
  transform-origin: 1vw -10vh;
  box-shadow: -40vmin 0 5.968726782556443vmin currentColor;
}
.line-strike-background span:nth-child(7) {
  color: #ffacac;
  top: 66%;
  left: 64%;
  animation-duration: 25s;
  animation-delay: -46s;
  transform-origin: 4vw -8vh;
  box-shadow: 40vmin 0 5.340585061083676vmin currentColor;
}
.line-strike-background span:nth-child(8) {
  color: #672dbe;
  top: 84%;
  left: 79%;
  animation-duration: 51s;
  animation-delay: -4s;
  transform-origin: -14vw 12vh;
  box-shadow: -40vmin 0 5.626541754673146vmin currentColor;
}
.line-strike-background span:nth-child(9) {
  color: #ffacac;
  top: 38%;
  left: 42%;
  animation-duration: 48s;
  animation-delay: -19s;
  transform-origin: 20vw 1vh;
  box-shadow: 40vmin 0 5.2878413409671365vmin currentColor;
}
.line-strike-background span:nth-child(10) {
  color: #ffacac;
  top: 98%;
  left: 3%;
  animation-duration: 41s;
  animation-delay: -21s;
  transform-origin: -17vw -23vh;
  box-shadow: 40vmin 0 5.309651897243248vmin currentColor;
}
.line-strike-background span:nth-child(11) {
  color: #164e69;
  top: 23%;
  left: 57%;
  animation-duration: 51s;
  animation-delay: -25s;
  transform-origin: -10vw 11vh;
  box-shadow: -40vmin 0 5.722541364124811vmin currentColor;
}
.line-strike-background span:nth-child(12) {
  color: #164e69;
  top: 6%;
  left: 23%;
  animation-duration: 21s;
  animation-delay: -14s;
  transform-origin: -3vw 15vh;
  box-shadow: -40vmin 0 5.329769604485964vmin currentColor;
}
.line-strike-background span:nth-child(13) {
  color: #164e69;
  top: 48%;
  left: 78%;
  animation-duration: 33s;
  animation-delay: -41s;
  transform-origin: 8vw -4vh;
  box-shadow: 40vmin 0 5.2331551269026795vmin currentColor;
}
.line-strike-background span:nth-child(14) {
  color: #672dbe;
  top: 91%;
  left: 15%;
  animation-duration: 29s;
  animation-delay: -42s;
  transform-origin: -11vw -17vh;
  box-shadow: 40vmin 0 5.06232683942393vmin currentColor;
}
.line-strike-background span:nth-child(15) {
  color: #ffacac;
  top: 60%;
  left: 93%;
  animation-duration: 42s;
  animation-delay: -4s;
  transform-origin: 2vw 13vh;
  box-shadow: 40vmin 0 5.946183654050886vmin currentColor;
}
.line-strike-background span:nth-child(16) {
  color: #672dbe;
  top: 34%;
  left: 7%;
  animation-duration: 10s;
  animation-delay: -6s;
  transform-origin: -11vw 13vh;
  box-shadow: -40vmin 0 5.9061850440198125vmin currentColor;
}
.line-strike-background span:nth-child(17) {
  color: #672dbe;
  top: 82%;
  left: 15%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: -11vw 8vh;
  box-shadow: 40vmin 0 5.126164645876981vmin currentColor;
}
.line-strike-background span:nth-child(18) {
  color: #ffacac;
  top: 37%;
  left: 75%;
  animation-duration: 47s;
  animation-delay: -39s;
  transform-origin: 2vw 18vh;
  box-shadow: -40vmin 0 5.597676969055882vmin currentColor;
}
.line-strike-background span:nth-child(19) {
  color: #ffacac;
  top: 87%;
  left: 100%;
  animation-duration: 48s;
  animation-delay: -8s;
  transform-origin: 25vw 21vh;
  box-shadow: -40vmin 0 5.751642326882992vmin currentColor;
}
