.logo {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
  appearance: none;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.logo img {
  max-width: 64px;
}

.logo h1 {
  padding: 0;
  margin: 0;
  color: var(--logo-font-color);
  font-size: var(--font-size-xl);
}

.logo h2 {
  padding: 0;
  margin: 0;
  color: var(--logo-font-color);
  font-size: var(--font-size-ml);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-sm);
}

.logo small {
  font-size: var(--font-size-md);
  padding: var(--padding-xs);
  border-radius: var(--border-radius-xs);
  background: var(--beta-background-color);
  font-size: var(--font-size-xs);
  border: var(--border-size-xs) solid var(--beta-border-color);
}

.text {
  display: flex;
  flex-direction: column;
}

.logo.small {
  gap: var(--gap-xs);

  img {
    max-width: 32px;
  }

  h1 {
    font-size: var(--font-size-md);
  }

  h2 {
    font-size: var(--font-size-xs);
  }

  small {
    font-size: var(--font-size-xs);
    transform: scale(0.75);
    transform-origin: top left;
  }
}
