.deck {
  position: absolute;
  left: 1720px;
  top: 620px;
  width: 163px;
}

.wrapper {
  position: relative;
}

.deck img {
  width: 163px;
  position: absolute;
  top: calc(30px - 30px * var(--index, 0) / 14);
}

.top {
  top: 240px;
}

.count {
  position: absolute;
  inset: 0;
  min-height: 250px;
  display: grid;
  place-items: center;
}

.value {
  font-size: 32px;
  background: rgba(0, 0, 0, 0.5);
  padding: 12px;
}