.container {
  border: 4px solid cyan;
  width: 155px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(1, 1, 29);
  gap: 12px;
}

.container:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.container:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
