.lane {
  color: lightcoral;
  transform: translateY(-2px);
}

.main {
  color: lightblue;
  transform: translateY(2px);
}

.dead {
  color: gray;
}

.strong {
  color: tomato;
  font-weight: bolder;
}

.main.strong {
  color: dodgerblue;
}
