.row {
  display: flex;
  gap: 8px;
}

.center {
  align-self: center;
}

.center-children {
  justify-content: center;
}

.end {
  align-self: flex-end;
}

.space-items {
  justify-content: space-between;
}
