.box {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--window-border-color);
  overflow: hidden;
  text-shadow: var(--window-text-shadow-color) 0px 0px 1px,
    var(--window-text-shadow-color) 0px 0px 1px,
    var(--window-text-shadow-color) 0px 0px 1px,
    var(--window-text-shadow-color) 0px 0px 1px,
    var(--window-text-shadow-color) 0px 0px 1px,
    var(--window-text-shadow-color) 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.light {
  border-color: var(--box-light-border-color);
  padding: 4px;
}

.stretch {
  align-self: stretch;
}

.flex {
  flex: 1;
}

.header {
  padding: 8px;
  color: var(--window-font-color);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 0;
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  background-image: linear-gradient(
      45deg,
      var(--window-header-color-gradient1) 0%,
      var(--window-header-color-gradient2) 5%,
      var(--window-header-color-gradient3) 10%,
      var(--window-header-color-gradient3) 90%,
      var(--window-header-color-gradient2) 95%,
      var(--window-header-color-gradient1) 100%
    ),
    linear-gradient(var(--window-header-base-color1) 2px, transparent 4px),
    linear-gradient(
      to right,
      var(--window-header-base-color1) 2px,
      transparent 4px
    );
  background-size: 100% 100%, 6px 6px, 6px 6px;
  background-color: var(--window-header-base-color2);
}

.header > h2, .header h3 {
  color: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  text-transform: uppercase;
}

.body {
  overflow: hidden;
  flex: 1;
  background: var(--window-body-background-color);
  box-shadow: 0 4px 30px var(--window-body-shadow-color);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--window-body-font-color);
}
