.card {
  position: relative;
  width: 64px;
  height: 64px;
  left: calc(var(--index, 0) * (16 + 36 * var(--size, 0) / 15) * -1px);
  top: 8px;
  border: 1px solid white;
  color: white;
  z-index: 0;
  transition: top 0.1s ease-in;
}

.fixed {
  left: -8px;
  top: -2px;
}

.hovered {
  z-index: 10;
  top: 0;
}

.fixed.hovered {
  top: -2px;
}

.img {
  position: absolute;
  inset: 0;
  background-image: var(--img);
  background-size: 122px 168px;
  background-position: -28px -9px;
  object-fit: scale-down;
}

.border {
  position: absolute;
  inset: 0;
  background-size: cover;
}

.fire .border {
  background-image: url("minis/fire.png");
}

.ice .border {
  background-image: url("minis/ice.png");
}

.pp {
  position: absolute;
  top: 0;
  left: 0;
  background: green;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 0.75em;
  text-shadow: none;
  padding: 4px;
  margin: 0;
}

.attack {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 0.75em;
  text-shadow: none;
  padding: 4px;
  margin: 0;
}