.wrapper {
  flex: 1;
  position: relative;
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
  position: absolute;
  inset: 0;
  display: flex;
  overflow: hidden;
}

.modal {
  color: white;
}