.button {
  display: flex;
  flex-direction: column;
  appearance: none;
  border: 0;
  background: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  padding: 4px;
  display: flex;
  color: var(--button-font-color);
  text-shadow: var(--button-shadow-color) 0px 0px 1px,
    var(--button-shadow-color) 0px 0px 1px,
    var(--button-shadow-color) 0px 0px 1px,
    var(--button-shadow-color) 0px 0px 1px,
    var(--button-shadow-color) 0px 0px 1px,
    var(--button-shadow-color) 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  align-items: stretch;
}

.flex {
  flex: 1;
}

.button:active,
.button:hover {
  background: var(--button-active-background-color);
  border-color: var(--button-active-border-color);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.monospace {
  font-family: monospace;
}
