.wrapper {
  position: relative;
  width: 144px;
  height: 144px;
}

.animation {
  position: absolute;
  inset: 0;
  z-index: 300;
  opacity: 1;
}

.summon {
  background-image: url("animations/summon.png");
  animation: summon 500ms steps(5) forwards;
  background-size: 600% 100%;
  background-position: 0;
}

.buff {
  background-image: url("animations/buff.png");
  animation: buff 500ms steps(6) forwards;
  background-size: 700% 100%;
  background-position: 0;
}

.debuff {
  background-image: url("animations/debuff.png");
  animation: debuff 500ms steps(5) forwards;
  background-size: 600% 100%;
  background-position: 0;
}

.stun {
  background-image: url("animations/stun.png");
  animation: stun 500ms steps(4) forwards;
  background-size: 500% 100%;
  background-position: 0;
}

.move2,
.move4,
.move6,
.move8 {
  background-image: url("animations/move.png");
  animation: move 500ms steps(6) forwards;
  background-size: 700% 100%;
  background-position: 0;
  transform-origin: center;
}

.move2 {
  transform: rotate(0deg);
}

.move4 {
  transform: rotate(90deg);
}

.move8 {
  transform: rotate(180deg);
}

.move6 {
  transform: rotate(270deg);
}

@keyframes summon {
  to {
    background-position: -500% 0;
    opacity: 0;
  }
}

@keyframes buff {
  to {
    background-position: -600% 0;
    opacity: 0;
  }
}

@keyframes debuff {
  to {
    background-position: -500% 0;
    opacity: 0;
  }
}

@keyframes stun {
  to {
    background-position: -400% 0;
    opacity: 0;
  }
}

@keyframes move {
  to {
    background-position: -600% 0;
    opacity: 0;
  }
}
