.wrapper {
  display: flex;
  overflow: hidden;
}

.nav {
  display: flex;
  gap: var(--gap-md);
  overflow: hidden;
  flex-direction: column;
  overflow: auto;
  color: var(--dialog-font-color);
  padding: 0;
  background: var(--dialog-background-color);
  border-right: var(--border-size-xs) solid var(--dialog-border-color);
  width: 0;
}

.nav.open {
  width: auto;
  padding: var(--padding-md);
}

.nav h3 {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: var(--font-size-xl);
}

.nav h4 {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: var(--font-size-md);
}

.toggle {
  appearance: none;
  border: 0;
  background: var(--dialog-background-color);
  padding: var(--padding-md);
  color: var(--dialog-font-color);
  font-size: var(--font-size-md);
  align-self: flex-start;
  border: var(--border-size-xs) solid var(--dialog-border-color);
  border-left: 0;
  transform: translate(calc(-1 * var(--border-size-xs)), calc(-1 * var(--border-size-xs)));
}
