.group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 1s ease-in-out;
  background: transparent;
}

.visible {
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.message {
  font-size: 48px;
}
