.modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  padding: 24px;
}

.modal.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.window {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.button {
  margin-left: auto;
  font-weight: bolder;
  appearance: none;
  background: transparent;
  border: 0;
  font-size: 1em;
  color: inherit;
  text-shadow: inherit;
  cursor: pointer;
}

.title h3 {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.content {
  padding: 4px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

legend {
  text-transform: uppercase;
}

fieldset {
  padding: 16px;
}