.bar {
  display: grid;
  grid-template-columns: repeat(var(--max, 1), 1fr);
  width: 150px;
  height: 32px;
}

.hp:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.hp:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.hp {
  border: 3px solid white;
  background-color: darkgray;
  transition: all 0.2s ease-in-out;
}

.hp.fill {
  background-color: dodgerblue;
}

.top .hp.fill {
  background-color: lightcoral;
}
