.wrapper {
  width: 64px;
  height: 64px;
  font-size: 16px;
  position: relative;
}

.diamond {
  width: 0;
  height: 0;
  width: 64px;
  height: 64px;
  background: url("pp.png");
  background-size: cover;
  position: absolute;
}

.amount {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 20px;
  left: -2px;
  top: -2px;
}

.max .amount {
  color: rgb(223, 223, 161);
}
